.slide-in {
    min-height: 100%;
    animation: moveFromRight 0.4s ease both;
}

.slide-out {
    animation: moveToRight 0.4s ease both;
}


@keyframes moveFromRight {
    from {
        transform: translateX(100%);
    }
}

@keyframes moveToRight {
    to {
        transform: translateX(100%);
    }
}
