.table {
    table-layout: fixed;
    box-sizing: border-box;
    border-collapse: collapse;
}
thead th:nth-child(1) {
    width: 100%;
}

thead th:nth-child(2) {
    width: 100%;
}

th {
    text-align: left;
}
td {
    border-top: 1px solid #ccc;
    text-align: right;
}
.td-right {
    text-align: right;
}

.td-left {
    text-align: left;
}
.table th,
.table td {
    white-space: nowrap;
    padding: 0.2rem 0.8rem;
}
.table .number-cell {
    text-align: right;
}

.table-scroll {
    width: 100%;
    display: block;
    overflow-x: auto;
    padding-bottom: 1.4rem;
}

.table-striped tr:nth-of-type(2n) {
    background-color: #eee;
}
