body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%;
}
body {
    font-family: $font-body;
    line-height: 1.4;
}
h1,
h2,
h4 {
    margin: 0;
    padding-bottom: 2.6rem;
    color: $almost-black;
}

h1 {
    font-size: 2.4rem;

    color: $mint-green;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
    font-family: $font-sans-serif;
}

.top-nav {
    font-size: 1.4rem;
    font-family: $font-sans-serif;
    color: $almost-black;
}
.title {
    font-family: $font-title;
    font-size: 2.4rem;
    border-bottom: 1px solid $light-grey;
    margin-top: 0;
}
@media (max-width: 667px) {
    h1,
    h2,
    h4 {
        padding-bottom: 1.4rem;
    }
}
