$light-grey: #ccc;
$dark-grey: #666;
$almost-black: #333;
$white: #fff;
$almost-white: #eee;
$a-bit-more-grey: #ddd;
$mint-green: rgba(0, 131, 143, 1);


$font-serif: 'Merriweather', sans-serif;
$font-sans-serif: 'Source Sans Pro', sans-serif;
$font-title: "Alegreya Sans", sans-serif;
$font-body: "Lora", serif;